<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VEXASPORT</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VEXA.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="container-fluid">
                
                <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">VEXASPORT</a>

                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                
                <div class="collapse navbar-collapse" id="navbarContent">
                    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light" asp-action="#" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Products" asp-action="AllProducts">All</a></li>
                                <li><a class="dropdown-item" asp-controller="Products" asp-action="men">Men</a></li>
                                <li><a class="dropdown-item" asp-controller="Products" asp-action="women">Women</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="ContactUs" asp-action="Contact">Contact Us</a>
                        </li>
                    </ul>

                    
                    <form  class="d-flex me-1 " role="search">
                        
                        <input id="search" class="form-control me-2" type="search" placeholder="Search..." />
                        <button id="SearchButton" class="btn btn-outline-light" type="submit">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        
                    </form>

                    <ul  class="icons">
                        <li class="nav-item dropdown">
                            <a class="text-light me-3 dropdown-item " asp-controller="Home" asp-action="#" data-bs-toggle="dropdown" aria-expanded="false"><i id="c" class="fa-regular fa-user"></i></a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Validation" asp-action="Login">Login</a></li>
                                <li><a class="dropdown-item" asp-controller="Profile" asp-action="Profile">Profile</a></li>
                                <li><a class="dropdown-item" asp-controller="Validation" asp-action="#">Log Out</a></li>
                            </ul>
                            </li>
                        <li><a class="text-light " asp-controller="Cart" asp-action="Cart"><i class="fa-solid fa-basket-shopping"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="content-wrapper">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="fixed-footer border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2025 - VEXASPORT - All Rights Reserved
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
