@{
    ViewData["Title"] = "Profile";
}
<div class="profile-container">
    <div class="first-container">
        <h4>Name:</h4>
        <button><i class="fa-solid fa-pencil"></i></button>
        <p></p>
    </div>
    <div class="sec-container">
        <h4>Email</h4>
        <p></p>
    </div>
    <div class="third-container">
        <h4>Address</h4>
        <button><i class="fa-solid fa-pencil"></i></button>
        <p></p>
    </div>
</div>