@{
	ViewData["title"] = "Login";
}
<div class="login-container">
	<div class="login-formbox">
		<h2>Login</h2>
		<form id="loginform" class="login-form" method="post" asp-controller="User" asp-action="Login" novalidate>
			@Html.AntiForgeryToken()
			<div class="formGroup">
				<label for="email">Email</label>
				<input name="email" id="email" type="email" class="form-control" required />
				<span class="errormessage">Please enter a valid email</span>
			</div>
			<div class="formGroup">
				<label for="password">Password</label>
				<input name="password" id="Password" type="Password" class="form-control" required minlength="6"/>
				<span class="errormessage">Password must be at least 6 characters</span>
			</div>
			<button type="submit" class="loginbtn">Login</button>
			
		</form>
	</div>
</div>
<script>
	 document.addEventListener('DOMContentLoaded', function () {
		const form = document.getElementById('loginform');

		form.addEventListener('submit', function (e) {
			if (!form.checkValidity()) {
				e.preventDefault();
				alert("Please fill in the form correctly.");
			}
		});
	});
</script>