@{
	ViewData["Title"] = "Category-Men";
}


<h1 class="Cat-Title">Men</h1>
<div class="product-container">
	<div id="P1-T-M" class="product">
		<img src="~/images/t1-men.jpg" />
		<h4>product describtion</h4>
		<div class="info">
			<p id="P1-T-M-price" class="price">500EGP</p>
			<button class="addCart"><i class="fa-solid fa-basket-shopping"></i></button>
		</div>
	</div>
	<div id="P1-T-M" class="product">
		<img src="~/images/t1-men.jpg" />
		<h4>product describtion</h4>
		<div class="info">
			<p id="P1-T-M-price" class="price">500EGP</p>
			<button class="addCart"><i class="fa-solid fa-basket-shopping"></i></button>
		</div>
	</div>
	<div id="P1-T-M" class="product">
		<img src="~/images/t1-men.jpg" />
		<h4>product describtion</h4>
		<div class="info">
			<p id="P1-T-M-price" class="price">500EGP</p>
			<button class="addCart"><i class="fa-solid fa-basket-shopping"></i></button>
		</div>
	</div>
</div>
