@{
    ViewData["Title"] = "Home";
}
<div class="homebody">
<div class="home-container">
    <div class="homebtn">
            <a href="/Products/AllProducts" class="shop-now-btn">Shop Now</a>
    </div>
    </div>
</div>

@* <a href="/Home/Categories" class="homebtn btn btn-light shop-now-btn">Shop Now</a> *@