@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-4">
    <div class="p-5 bg-dark rounded-2 text-light">
        <h1 class="text-light">Welcome To VEXASPORT</h1>
        <p>welcome to your one-stop shop for premium sports equipment, apparel, and performance gear!</p>
        <a href="/Home/Categories" class="btn btn-light">Shop Now</a>
    </div>
</div>

