@{
	ViewData["Title"] = "T1-men";
}
<div class="T1-container">
	<div class="T1-img">
		<img src="~/images/t1-men.jpg" />
	</div>
	<div class="T1-Details">
		<div class="T1-header">
			<h1>Premium Sport T-Shirt</h1>
            <p class="price">EGP450</p>
		</div>
		<div class="T1-describtion">
			<p>This premium cotton t-shirt is perfect for everyday wear. Made from 100% organic cotton, it's soft, breathable, and designed for maximum comfort.</p>
            <p>The classic fit and durable fabric ensure this t-shirt will be a staple in your wardrobe for years to come.</p>
		</div>
		<div class="T1-sizes">
			<h3>Select Size</h3>
		<div class="sizes">
			<p class="size selected">S</p>
			<p class="size">M</p>
			<p class="size">L</p>
		</div>
		</div>
			<button class="bb">Add to cart</button>
			<button class="bb">Buy now</button>
		
	</div>
</div>